body{
  display: flex;
  background: black;
}
img{
  position: relative;
  height: 100vh;
  width: 100vw;
}
.logo{
  position: fixed;
  height: 150px;
  width: 300px;
}
.nav{
  color: white;
}
.side-bar{
  flex-direction: column;
}
h4{
  text-align: justify;
  color: white
}