body{
  display: flex;
  background: black;
}

#logo{
  color: white
}
a{
  color: white;
  height: 30px;
  width: 40px;
}
img{
  height: 100vh;
  width: 100vw;
}
.nav-links{
  justify-content: center;
}
.section{
  position: relative;
  text-align: center;
  color: white
}
.animate{
  position: absolute;
  bottom: 8px;
  left: 16px;
}
}
.text{
  position: absolute;
  bottom: 8px;
  left: 16px;
}